<%- include('../partials/header.ejs') %>

<%- include('../partials/main_nav.ejs') %>

<!-- Main Content -->
<main class="container">
  <div class="row justify-content-center" style="padding-top: 48px; padding-bottom: 80px;">
    <div class="col-md-offset-3 col-md-8">
      <h1><%=title %></h1>
      <% if(typeof displayName == 'string' && displayName) { %>
        <!-- <a href="/survey-list/add" class="btn btn-primary" role="button"> -->
        <!-- <i class ="fas fa-plus-circle"></i> Edit template</a> -->
      <% } %>
      <br/>
      <br/>
      <table class="table table-bordered table-striped table-hover" >
        <!--Header row-->
        <tr>
          <% if(typeof displayName == 'string' && displayName) { %>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center col-1"></th>
          <% } else { %>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
          <% } %>  
        </tr>

        <!--Repetable Templet row-->
        <% for (let count=0; count<TemplateList.length; count++){%>
          <tr>
            <% if(typeof displayName == 'string' && displayName) { %>
              <td class="text-centre "><%=TemplateList[count].Name %></td>
              <td class="text-centre "><%=TemplateList[count].Description %></td>
              <td class="text-center col-1">
                <a href="/template-list/edit/<%= TemplateList[count]._id %>" class="btn btn-primary btn-sm">
                <i class="fas fa-pencil-alt"></i> Edit</a>
              </td>
            <% } else { %>
                <td class="text-centre "><%=TemplateList[count].Name %></td>
                <td class="text-centre "><%=TemplateList[count].Description %></td>
            <% } %>
          </tr>
        <% } %>
      </table>
    </div>
  </div>
</main>

<%- include('../partials/bottom_nav.ejs') %>

<%- include('../partials/footer.ejs') %>