<%- include('../partials/header.ejs') %>

<%- include('../partials/main_nav.ejs') %>

<!-- Content  for the add page -->
<div class="container">
  <div class="row" style="padding-top: 48px;">
    <div class="offset-md-3 col-md-6">
      <h1><%=title %></h1>
    </div>
</div>
</div>


<%- include('../partials/bottom_nav.ejs') %>

<%- include('../partials/footer.ejs') %>